<div class="container">

    <div class="jumbotron">
        <img src="/assets/img/chef2.png" class="mx-auto d-block img-fluid" id="mainImg">
        <h2>Eat-Dat-Burger</h2>
    </div>

    {{!-- ORDER PLACED & READY TO BE DEVOURED --}}
    <div class="card-group">
        <div class="card">
            <h5 class="card-title">Ready to be Devoured</h5>
                <div class="card-body">
                

                    {{#each burgers}}
                    {{#unless this.devoured}}
                    
                    <p>
                        {{this.burger_name}}
                        
                    </p>
                    
                    <form action="/updateOne" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="hidden" name="devoured" value="1">
                        <button type="submit" class="btn btn-warning btn-sm">Order Ready</button>
                    </form>
                    
                    
                    {{/unless}}
                    {{/each}}
            
                </div>
        </div>


        {{!-- CREATE BURGER  --}}
        <div class="card">
            <h5 class="card-title">Place Your Order Here</h5>
                <div class="card-body">
                

                <form class="create-update-form" action="/insertOne" method="POST">
                    <div class="form-group">
                        <input id="createOrder" name="burger_name" class="form-control form-control-sm" type="text">
                        <button type="submit" class="btn btn-warning" id="addBurger">Submit Order</button>
                    </div>
                </form>

                </div>
        </div>



        {{!-- BURGERS THAT HAVE BEEN DEVOURED --}}
        <div class="card">
            <h5 class="card-title">Order Picked Up</h5>
                <div class="card-body">

                    {{#each burgers}}
                    {{#if this.devoured}}
                    <div class="devBurger">
                        <p>{{this.burger_name}}</p>
                    </div>
                    {{/if}}
                    {{/each}}
            </div>
        </div>
    </div>





</div>