<div class="container">

    <div class="jumbotron">
        <img src="/assets/img/chef2.png" class="mx-auto d-block img-fluid" id="mainImg">
        <h2>Eat-Dat-Burger</h2>
    </div>

    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Order Ready</h5>
                <p class="card-text">This needs to be a table to hold the order</p>
                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Place Your Order Here</h5>
                <p class="card-text">This card will have text and a button to submit your order</p>
                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Order Picked Up</h5>
                <p class="card-text">This card will be a table that holds the devoured/picked up orders</p>
                
            </div>
        </div>
    </div>





</div>